#summary {
  color:green;
  font-size: large;
}


#inline-icon i {
  display: inline;
}

#inline-icon h3 {
  display: inline;
}

#inline-icon p {
  display: inline;
}

#bold-text p {
 font-weight: bold;
}


#calculation {
  background-color:lightgreen
}

#downloadBiclusters {
  background-color:orange
}

#upload_example_data {
  background-color:lightgreen
}


#simnet {
  background-color:lightgreen
}

#louvain {
  background-color:lightgreen
}

#downloadLouvains {
  background-color:orange
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1px;
}

#frame-img {
  display: block;
  border: 5px solid #555;
  margin-left: auto;
  margin-right: auto 
}